* Basic tooltip style */
.rtm-tooltip {
    position: relative;
    cursor: pointer;
    z-index: 10;
    max-width: 360px;
  }
  
  /* Tampil tooltip di editor juga */
  .elementor-editor-active .rtm-tooltip::after {
    opacity: 1 !important;
    visibility: visible !important;
    z-index: 99999 !important;
    pointer-events: auto;
  }
  
  /* .rtm-tooltip-enabled::before  {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(var(--cx, 8px), var(--cy, 0));
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fd0101;
    transition: opacity 0.3s ease;
    pointer-events: none;
    opacity: 0;
  } */


  .rtm-tooltip-enabled::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 100%;
    left: 50%;
    transform: translate(var(--x, 0), var(--y, 0));
    background-color: #fd0101;
    color: #fff;
    padding: 5px 12px;
    font-size: 12px;
    white-space: normal;
    word-wrap: break-word;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    max-width: 360px;
  }
  
  .rtm-tooltip-enabled:hover::before,
  .rtm-tooltip-enabled:hover::after {
    opacity: 1;
  }
  .elementor-editor-active .rtm-tooltip-enabled:hover::before,
  .elementor-editor-active .rtm-tooltip-enabled:hover::after {
    opacity: 1 !important;
  }
  
  .elementor-editor-active .elementor-section-wrap {
    overflow: visible !important;
  }
